body {
  font-family: Helvetica,Arial Unicode MS,Arial,sans;
  background: #fff;
  color: #000;
}

p {
  text-align: justify;
}

#wrapper {
  width: 60em;
  padding: 5em 10em;
  margin: auto;
}

#places {
  border-top: .2em solid #ddd;
  border-bottom: .2em solid #ddd;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 0.75em;
}

#places a {
  color: #000
}

#header p.title {
  font-size: 2.5em;
  font-weight: bold;
  color: #aaa;
  margin-bottom: 0.1em;
}

#header p.subtitle {
  font-size: 1.25em;
  color: #aaa;
  margin-top: 0.1em;
}

#content .big {
  font-size: 3em;
}

#content .almostbig {
  font-size: 2em;
}

#content .commentary {
  font-size: .75em;
  font-style: italic;
  color: #333;
  border-left: 1px solid #333;
  padding-left: .5em;
  margin-top: .5em;
}

#content p.slug {
  font-size: .75em;
  font-style: italic;
  color: #333;
  border-left: 1px solid #333;
  padding-left: .5em;
  margin-top: .5em;
}

#content h1 {
  font-size: 2.5em;
  font-weight: bold;
}