<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ds-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">david@fancyacres</a>
        </div>

        <div class="collapse navbar-collapse" id="ds-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/resume.html">Resume</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://github.com/davidsidlinger" title="Fork me on GitHub">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li>
                    <a rel="me" href="https://mastodon.social/@debbid">
                        <i class="fab fa-mastodon"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/davidsidlinger" title="LinkedIn">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
