<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="David Sidlinger" />
   <link href="http://davidsidlinger.com/atom.xml" rel="alternate" title="David Sidlinger" type="application/atom+xml" />
   <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.6.0/build/reset-fonts/reset-fonts.css&amp;2.6.0/build/base/base-min.css">
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="openid.server" href="http://www.myopenid.com/server">
   <link rel="openid.delegate" href="http://davidsidlinger.myopenid.com/">
</head>
<body>
   <div id="content">
    {{ content }}
   </div>
</body>
</html>